{% extends "page.html" %}

{% block subtitle %}{{ _('About') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('About MSL'), named_route='home.about' %}</li>
{% endblock %}

{% block primary %}
  <article class="module" role="main">
    <div class="module-content">
      {% block about %}
        <p style="width: 375px; float: right; background-color: #27A468; padding: 10px 10px 10px 10px; margin-left: 10px; color: white;">
            <strong>Your data in the EPOS MSL data catalogue?</strong><br>
            You can ensure that our data catalogue finds it by publishing your data at one of the
            <a href="/organization" style="color: white;">MSL-affilated data repositories</a>. In doubt? Contact
            <a href="mailto:r.p.j.pijnenburg@uu.nl" style="color: white;">Ronald Pijnenburg</a>.
            <br><br>
            <strong>Your lab in the EPOS Multi-Scale Labs community?</strong><br>
            Perhaps it already is (have a look at the <a href="/lab" style="color: white;">MSL labs</a>)! If not, and would you like to
            explore how you could do so? Get in touch with MSL coordinator <a href="mailto:g.w.termaat@uu.nl" style="color: white;">Geertje
            ter Maat</a>.
        </p>

        <p>
            In a world that demands increasing collaboration within the scientific community, solid Earth science
            laboratories are challenged with finding each other to exchange best practices and re-use data. Data
            produced by the various laboratories are crucial to serving society’s needs for geo-resources exploration
            and for protection against geo-hazards. Indeed, to model resource formation and system behaviour during
            exploitation, we need an understanding from the molecular to the continental scale, based on experimental
            and analytical data. Therefore, coordination and communication inside the European solid Earth science
            laboratories, complemented with services to increase curation and access for re-use of laboratory data is
            needed to effectively contribute to solve the grand challenges facing society.
        </p>

        <p>
            The <a title="EPOS Multi-Scale Laboratories (MSL) community" href="https://www.epos-eu.org/tcs/multi-scale-laboratories" target="_blank">EPOS Multi-Scale Laboratories (MSL) community</a> includes a wide range of world-class laboratories. The
            length scales addressed by these infrastructures cover the nano- and micrometre levels (electron microscopy
            and micro-beam analysis) to the scale of experiments on centimetre and decimetre sized samples, to analogue
            model experiments simulating the reservoir scale, the basin scale and the plate scale.
        </p>

        <p>
            EPOS MSL collects and harmonizes available and emerging laboratory (meta)data on the properties and
            processes controlling rock system behaviour at scales ranging from nm to km to global. The aim is to
            generate data products that are easily findable, accessible and interoperable for future research,
            notably into Geo-resources, Geo-storage, Geo-hazards and Earth System Evolution. Data emerging from
            MSL labs can be categorized as below, following the six major sub-domains in MSL:
        </p>

        Data from geochemical measurements:
        <ul>
            <li>Volcanic ash from explosive eruptions</li>
            <li>Magmas in the context of eruption and lava-flow hazard evaluation</li>
            <li>Rock systems of key importance in mineral exploration and mining operations</li>
        </ul>
        Data from rock and melt physical properties:
        <ul>
            <li>Rock and fault properties of importance for modelling and forecasting natural and induced subsidence,
                seismicity and associated hazards</li>
            <li>Crustal and upper mantle rheology as needed for modelling sedimentary basin formation and crustal stress
                distributions</li>
            <li>The composition, porosity and permeability of reservoir rocks of interest in relation to unconventional
                resources, fluid storage and geothermal energy</li>
        </ul>
        Data from analogue modelling of geological processes:
        <ul>
            <li>From reservoir (km) to tectonic plate (global) scale</li>
            <li>To study and visualize the fundamental processes underlying crustal and mantle deformation processes,
                including fault formation, mountain building and sedimentary basin evolution</li>
        </ul>
        Data from magnetic and paleomagnetic measurements:
        <ul>
            <li>Understanding the evolution of sedimentary basins and associated resources</li>
            <li>Charting geo-hazard frequency</li>
        </ul>
        Microscopy and tomography data:
        <uL>
            <li>Image data of Earth materials obtained with a wide variety in techniques</li>
            <li>Aimed at analyzing the process, often occurring at nano- to micrometer scale, governing the physical,
                chemical and transport behavior of Earth materials</li>
        </uL>
        Data from geo-energy test beds:
        <ul>
            <li>The latest addition to Multi-Scale Labs includes:</li>
            <li>Data obtained in testing or monitoring field-scale subsurface applications aimed at curbing CO2
                emissions. Such applications include subsurface storage of fluids (H, N, CO2, hot water), or
                geothermal energy production.</li>
            <li>Data can include fibre optics sensing data (DAS, DSS, DTS), seismological data, electromagnetics.</li>
        </ul>

        <p style="width: 50%; background-color: #27A468; padding: 10px 10px 10px 10px; margin-left: 10px; color: white;">
            MSL data can be found in the <a href="/data-publication" style="color: white;">MSL data catalogue</a> on this website, and in
            the <a href="https://www.epos-eu.org/dataportal" target="_blank" style="color: white;">EPOS multi-disciplinary data portal</a>
            (ICS-C), alongside data from other solid Earth scientific disciplines, including seismology, geology,
            volcanology, satellite observations and others.
        </p>

      {% endblock %}
    </div>
  </article>
{% endblock %}

{% block secondary %}{% endblock %}