{% extends "page.html" %}
{% set homepage_style = ( g.homepage_style or '1' ) %}

{% block subtitle %}{{ _("Welcome") }}{% endblock %}

{% block maintag %}{% endblock %}
{% block toolbar %}{% endblock %}

{% block content %}
  <div class="homepage layout-{{ homepage_style }}">
    <div id="content" class="container">
      {{ self.flash() }}
    </div>
    {% block primary_content %}
        <div id="main-div" role="main" style='background-color: #FFF; background-image: url("background_1.jpg"); background-size: 100% auto;'>
          <div class="container" style="">
            <div class="row row2" style="min-height: 150px;">

            </div>
            <div class="row row2" style="">
              <div class="col-md-4 col-md-offset-8">
                <div style="background-color: #27A468; padding-bottom: 0px; padding-top: 2px; padding-left: 10px;">
                    <a href="/data-publication/" title="data-publications" style="color: white;"><h4 id="dataset-count">datasets</h4></a>
                    <a href="/lab" title="labs" style="color: white;"><h4 id="lab-count">labs</h4></a>
                    <a href="/organization" title="data repositories" style="color: white;"><h4 id="datarepo-count" style="padding-bottom: 10px;">data repositories</h4></a>
                </div>
              </div>
            </div>

              {% block scripts %}
              {{ super() }}
              <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
            {% endblock %}
              <script>
                var backgrounds = [
                  'background_1.jpg',
                  'background_4.jpg',
                  'background_5.jpg',
                  'background_6.jpg',
                  'background_7.jpg'
                ];

                var i = 1;

                setInterval(function() {
                  $('#main-div').css('background-image', 'url(' + backgrounds[i] + ')');
                  i++;

                  if (i == backgrounds.length) {
                    i = 0;
                  }
                }, 6000);
              </script>

              <script>
                $.ajax({
                    url: "/api/3/action/package_search?q=type:data-publication",
                    type: 'GET',
                    dataType: 'json', // added data type
                    success: function(res) {
                        $("#dataset-count").text(res.result.count + ' datasets');
                    }
                });

                $.ajax({
                    url: "/api/3/action/package_search?q=type:lab",
                    type: 'GET',
                    dataType: 'json', // added data type
                    success: function(res) {
                        $("#lab-count").text(res.result.count + ' labs');
                    }
                });

                $.ajax({
                    url: "/api/3/action/organization_list",
                    type: 'GET',
                    dataType: 'json', // added data type
                    success: function(res) {
                        $("#datarepo-count").text(res.result.length -1 + ' data repositories');
                    }
                });
              </script>

            <div class="row row2" style="display: table;">
              <div class="col-md-4" style="float: none; display: table-cell; vertical-align: bottom;">

              </div>
              <div class="col-md-4" style="float: none; display: table-cell; vertical-align: bottom;">
                <div style="background-color: #27A468; padding-bottom: 10px; padding-top: 10px;" class="text-center">
                    <a href="/data-publication" title="labs" style="color: white;"><h1>data access</h1></a>
                </div>
              </div>

              <div class="col-md-4" style="float: none; display: table-cell;">
                <div style="background-color: #27A468; padding-bottom: 5px; padding-top: 2px; padding-left: 10px;">
                    <p style="color: #FFF;" >
                      <h3 style="color: #FFF;">Recently added:</h3>

                      <div id="recently-added"></div>
                      <br>
                    </p>
                </div>
              </div>

            <script>
                $.ajax({
                    url: "/api/3/action/package_search?q=type:data-publication&rows=3&sort=msl_publication_date desc",
                    type: 'GET',
                    dataType: 'json', // added data type
                    success: function(res) {
                        res.result.results.forEach(function (item, index) {
                          $("#recently-added").append('<a href="/data-publication/' + item.name +'" title="labs" style="color: white;"><h4>' + item.msl_citation.substring(0, item.msl_citation.indexOf("</i>") + 4) + '</h4></a>');
                        });
                    }
                });
            </script>

            </div>
          </div>
        </div>
            <div style="background-color: #FFF;">
              <div class="container" style="background-color: #FFF;">
                <div class="row row2">
                  <div class="col-md-12" style="background-color: #FFF;">
                    <p class="lead" style="margin-left: 10px; margin-right: 10px;">Welcome to the EPOS Multi-Scale Labs data catalogue! This catalogue is the central access point for
                    Earth scientific laboratory data in Europe. Here you can find data from rock and melt physics,
                    paleomagnetism, geochemistry, microscopy, tomography and analogue modelling of geological processes.</p>
                  </div>
                </div>
              </div>
            </div>
        </div>


    {% endblock %}
  </div>
{% endblock %}