{% extends "page.html" %}

{% block subtitle %}{{ _('Vocabularies') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Vocabularies'), named_route='msl_ckan.vocabularies' %}</li>
{% endblock %}

{% block primary %}
    <article class="module" role="main">
        <div class="module-content">
            {% block about %}
                <p>The EPOS multi-scale laboratories community publishes and maintains several vocabularies to
                    harmonize metadata descriptions and in turn improve findability of the data. Currently the
                    following vocabularies are available:</p>
                <ul>
                    <li>Analogue modelling of geological processes</li>
                    <li>Geochemistry</li>
                    <li>Geological age</li>
                    <li>Geological setting</li>
                    <li>Materials</li>
                    <li>Microscopy and tomography</li>
                    <li>Paleomagnetism</li>
                    <li>Pore fluids</li>
                    <li>Rock and melt physics</li>
                </ul>
            
            <p><a href="https://github.com/UtrechtUniversity/msl_vocabularies" target="_blank" class="btn btn-primary" style="background-color: #27A468; border-color: #27A468;">Access vocabularies on GitHub</a></p>

            <p>The vocabularies are used within this catalogues to add 'MSL enriched keywords’ to data publications.
                This is done by checking the originally assigned keywords, title and abstract for matches with terms
                and synonyms within the vocabularies. In enriching keyword sets like this, MSL strives to make datasets
                more findable. Although we strive for optimal results, the methods remains interpretative and as such
                can lead to errors. See anything odd, or did we miss something?
                <a href="mailto:epos.msl.data@uu.nl" style="color: black; text-decoration: underline;">Contact us!</a>
                Together we can attain the best result.</p>

            {% endblock %}
        </div>
    </article>
{% endblock %}}

{% block secondary %}{% endblock %}