{% extends "page.html" %}

{% set pkg = pkg_dict %}
{% set dataset_type = dataset_type or pkg.type or 'dataset' %}

{% block breadcrumb_content_selected %} class="active"{% endblock %}

{% block subtitle %}{{ _(dataset_type.title()) }}{% endblock %}

{% block breadcrumb_content %}
  {% if pkg %}
    {% set dataset = h.dataset_display_name(pkg) %}
    {% if pkg.type == 'data-publication' %}
      <li>{% link_for 'data publications', named_route=pkg.type ~ '.search' %}</li>
    {% elif pkg.type == 'lab'%}
      <li>{% link_for 'labs', named_route=pkg.type ~ '.search' %}</li>
    {% else %}
      <li>{% link_for pkg.type, named_route=pkg.type ~ '.search' %}</li>
    {% endif %}
      <li{{ self.breadcrumb_content_selected() }}>{% link_for dataset|truncate(30), named_route=pkg.type ~ '.read', id=pkg.name %}</li>

    <script>
      try {
        var url = new URL(document.referrer);
      } catch(e) {

      }

      if(url) {
        if(url.pathname == '/data-publication/') {
          var breadcrumb = document.getElementsByClassName("breadcrumb")[0];

          breadcrumb.textContent = '';

          var listItem = document.createElement('li');
          var link = document.createElement('a');
          var symbol = document.createElement('i');

          symbol.setAttribute('class', 'fa fa-caret-left');

          link.setAttribute('href', url.href);
          link.textContent = ' back to search results';

          listItem.appendChild(link);

          link.insertBefore(symbol, link.firstChild);

          breadcrumb.appendChild(listItem);
        }
      }
    </script>
  {% else %}
      <li>{% link_for _(dataset_type.title()), named_route=dataset_type ~ '.search' %}</li>
  {% endif %}
{% endblock %}

{% block top_warning %}
{% if pkg.type == 'data-publication' %}
  <div class="row wrapper no-nav" style="min-height: 0; margin-bottom: 15px;">
    <div style="padding-left: 45px; padding-bottom: 5px; padding-top: 5px;">
        This data catalogue is undergoing continuous development. If you find an error, please contact
        us <a href="mailto:epos.msl.data@uu.nl" style="color: black; text-decoration: underline;">here</a>.
    </div>
  </div>
{% endif %}
{% endblock %}