{% extends "package/read_base.html" %}

{% block primary_content_inner %}
  {{ super() }}
  {% block package_description %}
    {% if pkg.private %}
      <span class="dataset-private badge badge-inverse pull-right">
        <i class="fa fa-lock"></i>
        {{ _('Private') }}
      </span>
    {% endif %}
    {% block package_archive_notice %}
      {% if is_activity_archive %}
        <div class="alert alert-danger">
          {% trans url=h.url_for(pkg.type ~ '.read', id=pkg.id) %}
          You're currently viewing an old version of this dataset.
          Data files may not match the old version of the metadata.
          <a href="{{ url }}">View the current version</a>.
          {% endtrans %}
        </div>
      {% endif %}
    {% endblock %}
    <h1>
      {% block page_heading %}
        {% if pkg.type == 'data-publication' %}
          {% autoescape false %}
            {{ pkg.msl_title_annotated | replace("\n", "<br/>") }}
          {% endautoescape %}
        {% else %}
          {{ h.dataset_display_name(pkg) }}
        {% endif %}

        {% if pkg.state.startswith('draft') %}
          [{{ _('Draft') }}]
        {% endif %}
        {% if pkg.state == 'deleted' %}
          [{{ _('Deleted') }}]
        {% endif %}
      {% endblock %}
    </h1>
    {% block package_notes %}
      {% if pkg.notes %}
        <div class="notes embedded-content">
          {{ h.render_markdown(h.get_translated(pkg, 'notes')) }}
        </div>
      {% endif %}
    {% endblock %}
    {# FIXME why is this here? seems wrong #}
    <span class="insert-comment-thread"></span>
  {% endblock %}

  {% block package_resources %}
    {% if pkg.type != 'data-publication' and pkg.type != 'lab' %}
      {% snippet "package/snippets/resources_list.html", pkg=pkg, resources=pkg.resources, is_activity_archive=is_activity_archive %}
    {% endif %}
  {% endblock %}

  {% block package_tags %}
    {% if pkg.type == 'data-publication' %}
    {% set tags = pkg.tags %}
    <script>
      var vocabularyApiEndpoint = "{{ h.msl_ckan_get_vocabulary_api_endpoint() }}";
    </script>

    {% set ns = namespace(previous=[]) %}
    <p>Originally assigned keywords <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="right" title="lists only keywords originally assigned by the authors" id='tooltip-original-keywords'></i></p>
    <ul class="tag-list well">
      {% for tag in tags %}
        {% if not tag.display_name in ns.previous %}
        <li>
          <a class="tag" href="{% url_for 'data-publication.search', tags=tag.name %}">{{ tag.display_name }}</a>
        </li>
        {% set ns.previous = ns.previous + [tag.display_name] %}
        {% endif %}
      {% endfor %}
    </ul>

    <p>Corresponding MSL vocabulary keywords <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="right" title="lists terms from MSL vocabularies that are the same as, or are interpreted synonymous to the originally assigned keywords" id='tooltip-interpreted-keywords'></i></p>

    <ul class="tag-list well">
      {% for i in range(0, pkg.msl_original_keywords|length) %}
        <li>
          <a class="tag keyword-popover"
             role="button"
             tabindex="0"
             data-toggle="popover-keyword"
             id="corresponding-popover-{{ i }}"
             data-filterlink="{% url_for 'data-publication.search', msl_original_keyword_uri=pkg.msl_original_keywords[i].msl_original_keyword_uri %}"
             data-uri="{{ pkg.msl_original_keywords[i].msl_original_keyword_uri }}">
            {{ pkg.msl_original_keywords[i].msl_original_keyword_label }}
          </a>
        </li>
      <div id="corresponding-popover-{{ i }}-cache" style="display: none;"></div>
      {% endfor %}
    </ul>

    <p>MSL enriched keywords <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="right" title="MSL enriched keywords include MSL vocabulary terms corresponding to the keywords originally assigned by the authors, parent terms, and MSL vocabulary terms corresponding to words used in the data publication title and abstract. In enriching keyword sets like this, MSL strives to make datasets more findable. See anything odd? Contact us at epos.msl.data@uu.nl. MSL vocabularies available on GitHub - see top tab ‘vocabularies'." id='tooltip-interpreted-keywords'></i></p>

    <ul class="tag-list well">
      {% for i in range(0, pkg.msl_enriched_keywords|length) %}
        <li>
          <a class="tag keyword-popover"
             role="button"
             tabindex="0"
             data-toggle="popover-keyword"
             id="enriched-popover-{{ i }}"
             data-filterlink="{% url_for 'data-publication.search', msl_enriched_keyword_uri=pkg.msl_enriched_keywords[i].msl_enriched_keyword_uri %}"
             data-uri="{{ pkg.msl_enriched_keywords[i].msl_enriched_keyword_uri }}"
             data-highlight="text-keyword",
             data-sources='{{ pkg.msl_enriched_keywords[i].msl_enriched_keyword_match_locations|tojson }}',
             data-associated-subdomains='[{{'\"'|safe + pkg.msl_enriched_keywords[i].msl_enriched_keyword_associated_subdomains|join(',') + '\"'|safe  }}]'>
            {{ pkg.msl_enriched_keywords[i].msl_enriched_keyword_label }}
          </a>
        </li>
        <div id="enriched-popover-{{ i }}-cache" style="display: none;"></div>
      {% endfor %}
    </ul>


    {% if pkg.msl_subdomains_original %}
    <table class="table" style="margin-bottom: 0px;">
      <tbody>
        <tr class="d-flex" style="border-bottom: 0px solid #ddd">
          <td class="col-md-4">Originally assigned sub domains</td>
          <td class="col-md-8">
            <ul class="fa-ul">
              {%for i in range(0, pkg.msl_subdomains_original|length)%}
                <li><i class="fa-li fa fa-pie-chart"></i>{{ pkg.msl_subdomains_original[i].msl_subdomain_original }}</li>
              {% endfor %}
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
    {% endif %}

    {% else %}
      {% snippet "package/snippets/tags.html", tags=pkg.tags %}
    {% endif %}
  {% endblock %}

  {% block package_additional_info %}
    {% snippet "package/snippets/additional_info.html", pkg_dict=pkg %}
  {% endblock %}

{% endblock %}