{% extends "page.html" %}
{% import 'macros/form.html' as form %}

{% block subtitle %}{{ _(dataset_type.title()) }}{% endblock %}

{% set multi_title = dataset_type.title() %}
{% if multi_title[-1] != 's' %}
  {% set multi_title = multi_title + 's' %}
{%- endif %}
{% if multi_title == 'Data-Publications' %}
  {% set multi_title = 'data publications' %}
{%- endif %}

{% block breadcrumb_content %}
  <li class="active">{{ h.nav_link(_(multi_title), named_route='%s.search' % dataset_type, highlight_actions = 'new index') }}</li>
{% endblock %}


{% block primary_content %}
  <section class="module">
    <div class="module-content">
      {% block page_primary_action %}
        {% if h.check_access('package_create') %}
          <div class="page_primary_action">
            {{ h.snippet ('snippets/add_dataset.html', dataset_type=dataset_type) }}
          </div>
        {% endif %}
      {% endblock %}
      {% block form %}
        {% set facets = {
          'fields': fields_grouped,
          'search': search_facets,
          'titles': facet_titles,
          'translated_fields': translated_fields,
          'remove_field': remove_field }
        %}
        {% set sorting = [
          (_('Relevance'), 'score desc, metadata_modified desc'),
          (_('Name Ascending'), 'msl_citation asc'),
          (_('Name Descending'), 'msl_citation desc'),
          (_('Last Modified'), 'msl_publication_date desc'),
          (_('Popular'), 'views_recent desc') if g.tracking_enabled else (false, false) ]
        %}
        {% snippet 'snippets/search_form.html', form_id='dataset-search-form', type=dataset_type, query=q, sorting=sorting, sorting_selected=sort_by_selected, count=page.item_count, placeholder=_('Search ' + multi_title) + '...', facets=facets, show_empty=request.params, error=query_error, fields=fields %}
      {% endblock %}
      {% block package_search_results_list %}
        {{ h.snippet('snippets/package_list.html', packages=page.items) }}
      {% endblock %}
    </div>

    {% block page_pagination %}
      {{ page.pager(q=q) }}
    {% endblock %}
  </section>

  {% block package_search_results_api %}
    <section class="module">
      <div class="module-content">
        {% block package_search_results_api_inner %}
          <small>
            {% set api_link = h.link_to(_('API'), h.url_for(controller='api', action='get_api', ver=3)) %}
            {% set api_doc_link = h.link_to(_('API Docs'), 'http://docs.ckan.org/en/{0}/api/'.format(g.ckan_doc_version)) %}
            {% if g.dumps_url -%}
              {% set dump_link = h.link_to(_('full {format} dump').format(format=g.dumps_format), g.dumps_url) %}
              {% trans %}
              You can also access this registry using the {{ api_link }} (see {{ api_doc_link }}) or download a {{ dump_link }}.
          {% endtrans %}
            {% else %}
          {% trans %}
          You can also access this registry using the {{ api_link }} (see {{ api_doc_link}}).
          {% endtrans %}
            {%- endif %}
          </small>
        {% endblock %}
      </div>
    </section>
  {% endblock %}
{% endblock %}


{% block secondary_content %}
  <div class="filters">


    {% if dataset_type == 'data-publication' %}

    <div class="input-group search-input-group" style="padding: 30px;">
      <input aria-label="Search filters..." id="field-giant-search-filters" type="text" class="form-control input-lg" name="q" value="" autocomplete="off" placeholder="Search filters...">
      <span class="input-group-btn">
        <button class="btn btn-default btn-lg" type="submit" value="search" aria-label="Submit" disabled>
          <i class="fa fa-search"></i>
        </button>
      </span>
    </div>

    <div class="row">
      <h1 style="margin-top: 0px; padding-left: 30px; float:left">Filters</h1>
      <div style="float:right; padding-right: 30px; padding-top: 10px;">
        <input type="checkbox" id="filterTreeToggle" checked">
        <label class="no-after" for="filterTreeToggle">Interpreted keywords</label>
        <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="left" title="We assign vocabulary terms by attempting to match them to free assigned keywords, data publication title and abstract contents. More information about the used vocabularies can be found at the vocabulary page." id="tooltip-keyword-toggle"></i>
      </div>
    </div>

    <div id="jstree-interpreted"></div>
    <div id="jstree-original" style="display: none;"></div>

    {% block scripts %}
      {{ super() }}
    {% endblock %}

    {% asset 'ckanext-msl_ckan/msl_ckan-jstree' %}
    {% asset 'ckanext-msl_ckan/msl_ckan-filter-menu' %}

    <script>
      var dataInterpreted = {{ h.msl_ckan_get_filter_menu_interpreted()|tojson }};
      var dataOriginal = {{ h.msl_ckan_get_filter_menu_original()|tojson }};
      var facets = {{ search_facets|tojson }}
      var activeFilters = {{ fields_grouped|tojson }}
      var activeNodes = [];
    </script>



    {% else %}

    <div>
      {% for facet in facet_titles %}
        {{ h.snippet('snippets/facet_list.html', title=facet_titles[facet], name=facet, search_facets=search_facets) }}
      {% endfor %}
    </div>
    <a class="close no-text hide-filters"><i class="fa fa-times-circle"></i><span class="text">close</span></a>

    {% endif %}
  </div>
{% endblock %}