{% extends "page.html" %}
{% import 'macros/form.html' as form %}

{% block subtitle %}{{ _(dataset_type.title()) }}{% endblock %}

{% set multi_title = dataset_type.title() %}
{% if multi_title[-1] != 's' %}
  {% set multi_title = multi_title + 's' %}
{%- endif %}
{% if multi_title == 'Data-Publications' %}
  {% set multi_title = 'data publications' %}
{%- endif %}

{% block breadcrumb_content %}
  <li class="active">{{ h.nav_link(_(multi_title), named_route='%s.search' % dataset_type, highlight_actions = 'new index') }}</li>
{% endblock %}

{% block top_warning %}
{% if dataset_type == 'data-publication' %}
  <div class="row wrapper no-nav" style="min-height: 0; margin-bottom: 15px;">
    <div style="padding-left: 45px; padding-bottom: 5px; padding-top: 5px;">
        This data catalogue is undergoing continuous development. If you find an error, please contact
        us <a href="mailto:epos.msl.data@uu.nl" style="color: black; text-decoration: underline;">here</a>.
    </div>
  </div>
{% endif %}
{% endblock %}

{% block primary_content %}
  <section class="module">
    <div class="module-content">
      {% block page_primary_action %}
        {% if h.check_access('package_create') %}
          <div class="page_primary_action">
            {{ h.snippet ('snippets/add_dataset.html', dataset_type=dataset_type) }}
          </div>
        {% endif %}
      {% endblock %}
      {% block form %}
        {% set facets = {
          'fields': fields_grouped,
          'search': search_facets,
          'titles': facet_titles,
          'translated_fields': translated_fields,
          'remove_field': remove_field }
        %}
        {% set sorting = [
          (_('Relevance'), 'score desc, metadata_modified desc'),
          (_('Author Ascending'), 'msl_citation asc'),
          (_('Author Descending'), 'msl_citation desc'),
          (_('Publication date'), 'msl_publication_date desc'),
          (_('Popular'), 'views_recent desc') if g.tracking_enabled else (false, false) ]
        %}
        {% snippet 'snippets/search_form.html', form_id='dataset-search-form', type=dataset_type, query=q, sorting=sorting, sorting_selected=sort_by_selected, count=page.item_count, placeholder=_('Search ' + multi_title) + '...', facets=facets, show_empty=request.params, error=query_error, fields=fields %}
      {% endblock %}
      {% block package_search_results_list %}
        {{ h.snippet('snippets/package_list.html', packages=page.items) }}
      {% endblock %}
    </div>

    {% block page_pagination %}
      {{ page.pager(q=q) }}
    {% endblock %}
  </section>

  {% block package_search_results_api %}

  {% endblock %}
{% endblock %}


{% block secondary_content %}
  <div class="filters">


    {% if dataset_type == 'data-publication' %}

    <div class="input-group search-input-group" style="padding: 30px;">
      <input aria-label="Search filters..." id="field-giant-search-filters" type="text" class="form-control input-lg" name="q" value="" autocomplete="off" placeholder="Search filters...">
      <span class="input-group-btn">
        <button class="btn btn-default btn-lg" type="submit" value="search" aria-label="Submit" disabled>
          <i class="fa fa-search"></i>
        </button>
      </span>
    </div>

    <div class="row">
      <h1 style="margin-top: 0px; padding-left: 30px; float:left">Filters</h1>
    </div>

    <div class="row">
      <div style="float:left; padding-top: 5px; padding-left: 30px;">
        <input type="checkbox" id="filterTreeToggleInterpreted" checked="checked">
        <label class="no-after" for="filterTreeToggleInterpreted">MSL enriched keywords</label>
        <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="left" title="MSL enriched keywords include MSL vocabulary terms corresponding to the keywords originally assigned by the authors, parent terms, and MSL vocabulary terms corresponding to words used in the data publication title and abstract. In enriching keyword sets like this, MSL strives to make datasets more findable. See anything odd? Contact us at epos.msl.data@uu.nl. MSL vocabularies available on GitHub - see top tab ‘vocabularies'." id="tooltip-keyword-toggle-interpreted"></i>
      </div>
    </div>

    <div class="row">
      <div style="float:left; padding-top: 5px; padding-left: 30px;">
        <input type="checkbox" id="filterTreeToggleOriginal">
        <label class="no-after" for="filterTreeToggleOriginal" style="font-weight: normal;">Originally assigned keywords</label>
        <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="left" title="Lists only the MSL vocabulary terms corresponding to the keywords originally assigned by the authors." id="tooltip-keyword-toggle-original"></i>
      </div>
    </div>

    <hr>

    <div class="row">
      <div style="float:left; padding-left: 30px;">
        <input type="checkbox" id="hide_empty_terms">
        <label class="no-after" for="hide_empty_terms" style="font-weight: 1;">Hide empty terms</label>
      </div>
      <div style="padding-right: 24px; float: right;">
        <a href="#" style="color: black;" id="expand_all" title="expand all nodes"><i class="fa fa-level-down" aria-hidden="true"></i> expand all</a>
        <a href="#" style="color: black;" id="close_all" title="close all nodes"><i class="fa fa-level-up" aria-hidden="true"></i> close all</a>
      </div>
    </div>

    <div id="jstree-interpreted"></div>
    <div id="jstree-original" style="display: none;"></div>

    {% block scripts %}
      {{ super() }}
    {% endblock %}

    {% asset 'ckanext-msl_ckan/msl_ckan-jstree' %}
    {% asset 'ckanext-msl_ckan/msl_ckan-filter-menu' %}

    <script>
      var dataInterpreted = {{ h.msl_ckan_get_filter_menu_interpreted()|tojson }};
      var dataOriginal = {{ h.msl_ckan_get_filter_menu_original()|tojson }};
      var facets = {{ search_facets|tojson }}
      var activeFilters = {{ fields_grouped|tojson }}
      var activeNodes = [];
    </script>


    {% else %}

    <div>
      {% for facet in facet_titles %}
        {{ h.snippet('snippets/facet_list.html', title=facet_titles[facet], name=facet, search_facets=search_facets) }}
      {% endfor %}
    </div>
    <a class="close no-text hide-filters"><i class="fa fa-times-circle"></i><span class="text">close</span></a>

    {% endif %}
  </div>
{% endblock %}