
.account-masthead {
    background-color: #27A468;
}

.masthead {
    background-image: none;
    background-color: white;
}

.masthead .nav > li > a {
  color: #27A468;
  text-shadow: none;
}

.masthead .nav > li > a:hover {
    color: white;
    background-color: white;
}

.masthead .navigation .nav-pills li a:hover,
.masthead .navigation .nav-pills li a:focus,
.masthead .navigation .nav-pills li.active a {
    background-color: #27A468;
}

.site-footer {
    background-image: none;
    background-color: #27A468;
}

.homepage .module-search .module-content {
    background-color: #27A468;
}

.homepage .module-search .tags {
    background-color: #27A468;
}

.pagination > .active > a {
    background-color: #27A468;
}

body {
    background-color: #27A468;
    background-image: none;
}

.badge {
    background-color: #27A468;
}

.pill {
    background-color: #27A468;
}

@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1170px;
  }
}
@media (min-width: 1300px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1200px;
  }
}

@media (min-width: 1500px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1400px;
  }
}

@media (min-width: 1500px) {
    .container {
        width: 1400px;
    }
}

#jstree-interpreted a {
    white-space: normal !important;
    height: auto;
    padding: 1px 2px;
    padding-right: 24px;
}

#jstree-original a {
    white-space: normal !important;
    height: auto;
    padding: 1px 2px;
    padding-right: 24px;
}

.jstree-disabled {
    color: #b3b3b3 !important;
}

a.tag:hover {
    background-color: #27A468;
    color: white;
}

label.no-after:after {
    content: none;
}

.popover {
    max-width: 100% !important;
    width: 500px !important;
}

.keyword-highlight {
    background-color: #27A468;
    color: white;
}
